{% extends 'base.html' %}
{% block titulo %} Listado de noticias{% endblock %}
{% block content %}
{% load thumbnail %}
  <section>
    <div class="container">
      <div class="col-lg-12">
        <h1>{{posts.title}} <small>{{posts.category}}</small></h1>
        <p><em>{{posts.published_date}}</em></p>

        {% thumbnail posts.imagen "300x300" as im %}
        <img src="../{{posts.imagen}}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive pull-left img-margin-right" >
        <p>{{posts.text}}</p>
          
      </div>

    </div>
  </section>
{% endthumbnail %}

{% endblock %}

    <img ">
